#root2{
    -fx-background-color: #393939;

}
#choose{
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 60px;
    -fx-font-family: Georgia;
}
#btn_confirm{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
#btn_confirm:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}
#btn_back{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
#btn_back:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}

#dracula:pressed{
    -fx-border-width: 1px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}

 .keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
    -fx-fill: #c15700;
}
 .semicolon {
    -fx-font-weight: bold;
    -fx-fill: #c15700;
}
 .paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
 .bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
 .brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
 .string {
    -fx-fill: #34961c;
}

 .comment {
    -fx-fill: cadetblue;
}
