#root3{
    -fx-background-color: #393939;

}

#choose{
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 60px;
    -fx-font-family: Georgia;
}
#btn_confirm{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
#btn_confirm:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}

#dracula:pressed{
    -fx-border-width: 1px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-background-image: null;
    -fx-border-radius: 15px;
    -fx-padding: 4px;
}
