#root2{
    -fx-background-color: #ffffff;

}
#btn_confirm{
    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 30px;
}
#btn_confirm:hover{

    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color:#4d4dff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30px;


}
.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
    -fx-fill: #c15700;
}
.semicolon {
    -fx-font-weight: bold;
    -fx-fill: #c15700;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: #34961c;
}

.comment {
    -fx-fill: cadetblue;
}
