#root5{

    -fx-background-color: #393939;


}
#root6{

    -fx-background-color: #393939;


}
#btn_back_2{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
#btn_back_2:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}
#btn_back_3{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
#btn_back_3:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}
.scopes{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
.scopes:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}
.sym{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}