#root5{

    -fx-background-color: white;


}
#root6{

    -fx-background-color: white;


}
#btn_back_2{
    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 30px;
}
#btn_back_2:hover{

    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color:#4d4dff;
    -fx-text-fill: #white;
    -fx-font-size: 30px;


}
#btn_back_3{
    -fx-border-width: 3px;
    -fx-border-color:#4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill:black;
    -fx-font-size: 30px;
}
#btn_back_3:hover{

    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color:#4d4dff;
    -fx-text-fill: white;
    -fx-font-size: 30px;


}
.scopes{
    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill:black;
    -fx-font-size: 30px;
}
.scopes:hover{

    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color:#4d4dff;
    -fx-text-fill: #white;
    -fx-font-size: 30px;


}
.sym{
    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #black;
    -fx-font-size: 30px;
}