.root{

    -fx-background-color: #393939;
}
#welcome{
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 60px;
    -fx-font-family: Georgia;

}
#btn_start{
    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: #b4b4b4;
    -fx-font-size: 30px;
}
#btn_start:hover{

    -fx-border-width: 3px;
    -fx-border-color: rgba(38, 255, 26, 0.85);
    -fx-border-radius: 5px;
    -fx-background-color:rgba(38, 255, 26, 0.85);
    -fx-text-fill: #393939;
    -fx-font-size: 30px;


}

