#root3{
    -fx-background-color:  #ffffff;

}

#choose{
    -fx-text-fill: black;
    -fx-font-size: 60px;
    -fx-font-family: Georgia;
}
#btn_confirm{
    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 30px;
}
#btn_confirm:hover{

    -fx-border-width: 3px;
    -fx-border-color: #4d4dff;
    -fx-border-radius: 5px;
    -fx-background-color:#4d4dff;
    -fx-text-fill: white;
    -fx-font-size: 30px;


}


